@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;1,400;1,600&display=swap');
:root {
--color-primary: #ff6600;
--color-yellow: #e8e11a;
--color-black: #1d0908;
--color-white: #f0f0fd;
--color-black-1: #212b38;
}
*{
  margin: 0;
  padding: 0;
}
.header{
  height: 100vh;
}
.navbar-style
{
  box-shadow: 0 5px 10px #efefef;
  color: var(--color-blue);
  background-color: white;
  padding-top: 6px;
  padding-bottom: 1px;
}
.logo {
  color: var(--color-black-1);
  font-size: 30px;
  padding-left:5% ;
}
.logo span {
  color: var(--color-blue);
}

.icon-bar
{
  background: darkorange;
}
li a{
  color: #333;
}
.dropdown-menu{
  display: none;
  background-color: white;
}
.menubar{
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
}
.menubar ul{
  list-style: none;
  display: flex;
}
.menubar ul li a{
  font-size: 20px;
  color:var(--color-primary);
  transition:all 0.3s;
}
.menubar ul li a hover{
  color: var(--color-primary);

}
.menubar ul li:hover .dropdown-menu{
  display: block;
  position:absolute;
  left: 0;
  top:100%;
  background-color: var(--color-yellow);

}

body{
  background-image: url("2.jpg");
  background-size: cover;

}
.background{

  height: 100%;
  width: 100%;
  background-image: url("2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;


  animation-name:animate ;
  animation-direction:alternate-reverse ;
  animation-duration: 30s;
  animation-fill-mode:forwards ;
  animation-iteration-count:infinite ;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
@keyframes animate{
  0%{
    background-image:url(3.jpg);
  }
  20%{
    background-image:url(5.jpg);
  }
  40%{
    background-image:url(7.jpg);
  }
} 